<h1>Add Image</h2>

<form action="/images" enctype="multipart/form-data" method="post">
	<input type="file" name="file"><br />
	<input type="text" name="body" /><br />
	<input type="submit" value="Submit" />
</form>